<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Eventos participantes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="w">
  
  {{>header}}
    <a href="/vista-principal"> <button style="margin-bottom: 10px;" class="btnCasa"><i class="fa fa-home"></i></button></a>
  <div class="table-header">
    
  <table class="school-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Direccion</th>
        <th>Sede</th>
      </tr>
    </thead>
    <tbody>
      {{#each resultado}}
      <tr>
        <td>{{this.evento}}</td>
        <td>{{this.fecha_inicio}}</td>
        <td>{{this.fecha_fin}}</td>
        <td>{{this.direccion}}</td>
        <td>{{this.nombreSede}}</td>
      </tr>
       {{/each}}
    </tbody>
  </table>
</body>
</html>