<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Jueces</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="w">
  
   {{>header}}
    <a href="/vista-principal"> <button style="margin-bottom: 10px;" class="btnCasa"><i class="fa fa-home"></i></button></a>
   <div class="table-header">
    <table class="judges-table">
    <thead>
      <tr>
        <th>Nombre(s)</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Nivel Escolar</th>
        <th>Institución</th>
         <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {{#each resultado}}
      <tr>
        <td>{{this.nombre}} </td>
        <td>{{this.apellidoP}}</td> 
        <td>{{apellidoM}} </td>
        <td>{{this.estudios}}</td>
        <td>{{this.institucion}}</td>
        <td><button id="btnEliminar" class="delete-btn" data-id-nombre="{{this.nombre}}" data-id-apellidoP="{{this.apellidoP}}" 
        data-id-apellidoM="{{this.apellidoM}}" data-id-estudios="{{this.estudios}}">Eliminar</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/abc_jueces_admin/bajaJuez.js"></script>
</body>
</html>
